@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.flex-container {
    background: limegreen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}

@media screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: pink;
    }
}

.flex-item {
    padding: 100px;
    margin: 20px;
    font-size: 3rem;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .flex-item {
        font-size: 2rem;
    }
}